<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://youtu.be/rg6CiPI6h2g?t=6">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="" class="d-inline-block align-text-top">
      </a>
      <h1 class="text-center">Pokemon Trainer</h1>

      <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          
        </li>
      </ul>
      
    </div>
  </nav>

<form class="login-form" #createForm="ngForm" (ngSubmit)="onTrainerLogIn(createForm)">
    <div class="form-group">
    <label for="username">Enter username to sign in:</label>
    <input class="form-control" type="text" id="username" 
        name="username" 
        [ngClass]="{ 'is-valid': username.valid, 'is-invalid': (username.invalid && ( username.dirty || username.touched ))}" 
        required 
        minlength="2"     
        ngModel #username="ngModel" 
        placeholder="Mickey Mouse..." />
    </div>
    <div class="sign-in-button">
    <button class="btn btn-success" type="submit"
            [disabled]="createForm.invalid">
            Go Catch'em All
    </button>
    </div>
    <div class="user-input-error" *ngIf="username.errors && username.invalid && ( username.dirty || username.touched)">
      <p *ngIf="username.errors['required']">Username required </p>
      <p *ngIf="username.errors['minlength']">Username is too short</p>
  </div>
</form>
