* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

head, body, h1, p, input, form, button {
    font-family: 'Sanchez', serif;
}

img {
    width: 100px;
}


.button-caught{
    background-color: red;
}

.button-free{
    background-color: green;
}