

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://youtu.be/rg6CiPI6h2g?t=6">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="" class="d-inline-block align-text-top">
    </a>
    <h1>Pokemon</h1>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/trainer">My Collection</a>
      </li>
    </ul>
    
  </div>
</nav>
<div class="container">
  <div class="card-group text-center">
    <div class="row">
      <div class="card col-md-2" *ngFor="let pokemon of pokemoninfo">
        <img class="card-img-top" [src]="pokemon.imageurl" [alt]="pokemon.name">
        <div class="card-body text-center" style="overflow: auto">
          <ng-container *ngIf="checkIfCaught(pokemon.name); then caught; else free"></ng-container>
          <ng-template #caught>
          <button class="btn btn-danger" (click)="handleCaughtPokemon(pokemon.name)">{{ pokemon.name }} is caught!</button>
          </ng-template>
          <ng-template #free>
          <button class="btn btn-success" (click)="handleCatchPokemon(pokemon.name, pokemon.stats[5].base_stat)">Catch {{ pokemon.name }}!</button>
          
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <button class="btn btn-primary" (click)="clickToProfile()">Go to profile</button> -->

